[submodule "vendor/repos/github.com/Shougo/dein.vim"]
	path = vendor/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "pack/packer/start/plenary.nvim"]
	path = pack/packer/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/packer/start/popup.nvim"]
	path = pack/packer/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/packer/start/telescope.nvim"]
	path = pack/packer/start/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "pack/packer/start/completion.nvim"]
	path = pack/packer/start/completion.nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "pack/packer/start/diagnostic.nvim"]
	path = pack/packer/start/diagnostic.nvim
	url = https://github.com/nvim-lua/diagnostic-nvim
[submodule "pack/packer/start/iron.nvim"]
	path = pack/packer/start/iron.nvim
	url = https://github.com/hkupty/iron.nvim
[submodule "pack/packer/start/impromptu.nvim"]
	path = pack/packer/start/impromptu.nvim
	url = https://github.com/hkupty/impromptu.nvim
[submodule "pack/packer/start/libmodal.nvim"]
	path = pack/packer/start/libmodal.nvim
	url = https://github.com/Iron-E/nvim-libmodal
[submodule "pack/packer/start/nvim_lsp.nvim"]
	path = pack/packer/start/nvim_lsp.nvim
	url = https://github.com/neovim/nvim-lsp
[submodule "pack/packer/start/bufferline.nvim"]
	path = pack/packer/start/bufferline.nvim
	url = https://github.com/akinsho/nvim-bufferline.lua
[submodule "pack/packer/start/vimpeccable"]
	path = pack/packer/start/vimpeccable
	url = https://github.com/svermeulen/vimpeccable
[submodule "pack/packer/start/statusline.nvim"]
	path = pack/packer/start/statusline.nvim
	url = https://github.com/tjdevries/express_line.nvim
[submodule "pack/packer/start/colorbuddy.nvim"]
	path = pack/packer/start/colorbuddy.nvim
	url = https://github.com/tjdevries/colorbuddy.nvim
[submodule "pack/packer/start/luapad.nvim"]
	path = pack/packer/start/luapad.nvim
	url = https://github.com/rafcamlet/nvim-luapad
[submodule "pack/packer/start/vlog.nvim"]
	path = pack/packer/start/vlog.nvim
	url = https://github.com/tjdevries/vlog.nvim
[submodule "pack/packer/start/daedalus"]
	path = pack/packer/start/daedalus
	url = https://github.com/hkupty/daedalus.nvim
[submodule "pack/packer/start/terminal.nvim"]
	path = pack/packer/start/terminal.nvim
	url = https://github.com/norcalli/nvim-terminal.lua
[submodule "pack/packer/start/surround.nvim"]
	path = pack/packer/start/surround.nvim
	url = https://github.com/blackCauldron7/surround.nvim
[submodule "pack/packer/start/tree.nvim"]
	path = pack/packer/start/tree.nvim
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "pack/packer/start/penlight.lua"]
	path = pack/packer/start/penlight.lua
	url = https://github.com/lunarmodules/Penlight
[submodule "pack/packer/start/colorizer.nvim"]
	path = pack/packer/start/colorizer.nvim
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/packer/start/nvim-web-devicons"]
	path = pack/packer/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "pack/packer/start/colors.nightfly"]
	path = pack/packer/start/colors.nightfly
	url = https://github.com/bluz71/vim-nightfly-guicolors
[submodule "pack/packer/opt/illuminate.vim"]
	path = pack/packer/opt/illuminate.vim
	url = https://github.com/RRethy/vim-illuminate
[submodule "pack/packer/opt/unicode.vim"]
	path = pack/packer/opt/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule "pack/packer/opt/go.vim"]
	path = pack/packer/opt/go.vim
	url = https://github.com/fatih/vim-go
[submodule "pack/packer/opt/colors.tender"]
	path = pack/packer/opt/colors.tender
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/packer/opt/gnupg.vim"]
	path = pack/packer/opt/gnupg.vim
	url = https://github.com/jamessan/vim-gnupg
[submodule "pack/packer/opt/goyo.vim"]
	path = pack/packer/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/packer/opt/limelight.vim"]
	path = pack/packer/opt/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "pack/packer/opt/sneak.vim"]
	path = pack/packer/opt/sneak.vim
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/packer/opt/vim-textobj-function.vim"]
	path = pack/packer/opt/vim-textobj-function.vim
	url = https://github.com/kana/vim-textobj-function
[submodule "pack/packer/opt/vim-textobj-user.vim"]
	path = pack/packer/opt/vim-textobj-user.vim
	url = https://github.com/kana/vim-textobj-user
[submodule "pack/packer/start/gina.vim"]
	path = pack/packer/start/gina.vim
	url = https://github.com/lambdalisue/gina.vim
[submodule "pack/packer/start/suda.vim"]
	path = pack/packer/start/suda.vim
	url = https://github.com/lambdalisue/suda.vim
[submodule "pack/packer/start/whichkey.vim"]
	path = pack/packer/start/whichkey.vim
	url = https://github.com/liuchengxu/vim-which-key
[submodule "pack/packer/start/vista.vim"]
	path = pack/packer/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "pack/packer/start/vim-textobj-url.vim"]
	path = pack/packer/start/vim-textobj-url.vim
	url = https://github.com/mattn/vim-textobj-url
[submodule "pack/packer/start/treesitter.nvim"]
	path = pack/packer/start/treesitter.nvim
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/packer/start/wordy.vim"]
	path = pack/packer/start/wordy.vim
	url = https://github.com/reedes/vim-wordy
[submodule "pack/packer/opt/qf.vim"]
	path = pack/packer/opt/qf.vim
	url = https://github.com/romainl/vim-qf
[submodule "pack/packer/opt/rust.vim"]
	path = pack/packer/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/packer/opt/polyglot.vim"]
	path = pack/packer/opt/polyglot.vim
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/packer/opt/abolish.vim"]
	path = pack/packer/opt/abolish.vim
	url = https://github.com/tpope/vim-abolish
[submodule "pack/packer/opt/jdaddy.vim"]
	path = pack/packer/opt/jdaddy.vim
	url = https://github.com/tpope/vim-jdaddy
[submodule "pack/packer/opt/scriptease.vim"]
	path = pack/packer/opt/scriptease.vim
	url = https://github.com/tpope/vim-scriptease
[submodule "pack/packer/opt/surround.vim"]
	path = pack/packer/opt/surround.vim
	url = https://github.com/tpope/vim-surround
[submodule "pack/packer/opt/helpful.vim"]
	path = pack/packer/opt/helpful.vim
	url = https://github.com/tweekmonster/helpful.vim
[submodule "pack/packer/opt/targets.vim"]
	path = pack/packer/opt/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "pack/packer/start/textobj-user.vim"]
	path = pack/packer/start/textobj-user.vim
	url = https://github.com/kana/vim-textobj-user
[submodule "pack/packer/start/textobj-function.vim"]
	path = pack/packer/start/textobj-function.vim
	url = https://github.com/kana/vim-textobj-function
[submodule "pack/packer/start/repeat.vim"]
	path = pack/packer/start/repeat.vim
	url = https://github.com/tpope/vim-repeat
[submodule "pack/packer/start/sideways.vim"]
	path = pack/packer/start/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim
[submodule "pack/packer/start/splitjoin.vim"]
	path = pack/packer/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "pack/packer/start/packer.nvim"]
	path = pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "pack/packer/start/caw.vim"]
	path = pack/packer/start/caw.vim
	url = https://github.com/tyru/caw.vim
[submodule "pack/packer/start/endwise.vim"]
	path = pack/packer/start/endwise.vim
	url = https://github.com/tpope/vim-endwise
[submodule "pack/packer/start/unimpaired.vim"]
	path = pack/packer/start/unimpaired.vim
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/packer/start/easyalign.vim"]
	path = pack/packer/start/easyalign.vim
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/packer/start/echodoc.vim"]
	path = pack/packer/start/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
