[submodule "vendor/repos/github.com/Shougo/dein.vim"]
	path = vendor/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "pack/packer/opt/packer.nvim"]
	path = pack/packer/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "pack/packer/start/plenary.nvim"]
	path = pack/packer/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/packer/start/popup.nvim"]
	path = pack/packer/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/packer/start/telescope.nvim"]
	path = pack/packer/start/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "pack/packer/start/completion.nvim"]
	path = pack/packer/start/completion.nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "pack/packer/start/diagnostic.nvim"]
	path = pack/packer/start/diagnostic.nvim
	url = https://github.com/nvim-lua/diagnostic-nvim
[submodule "pack/packer/start/iron.nvim"]
	path = pack/packer/start/iron.nvim
	url = https://github.com/hkupty/iron.nvim
[submodule "pack/packer/start/impromptu.nvim"]
	path = pack/packer/start/impromptu.nvim
	url = https://github.com/hkupty/impromptu.nvim
[submodule "pack/packer/start/libmodal.nvim"]
	path = pack/packer/start/libmodal.nvim
	url = https://github.com/Iron-E/nvim-libmodal
[submodule "pack/packer/start/nvim_lsp.nvim"]
	path = pack/packer/start/nvim_lsp.nvim
	url = https://github.com/neovim/nvim-lsp
